.our-clients{
    text-align: center;
    padding-block: 5rem;
    background-color: #dedede;
    h3 {
      color:$primary-color;
      font-size:2rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }
    hr{
      width:10%;
      border:1px solid black;
      margin: 0 auto;
      margin-bottom: 5rem;
  
    }
   
  }
  // our clients ends here..