.introduction{
    text-align: center;
    background-color: #fafafa;
    padding-block: 5rem;
    color:$primary-color;
    h2 {
      font-size:2rem;
      font-weight: 300;
      margin-bottom: 1rem;
    }
    p {
      letter-spacing: 2px;
      font-weight: 400;
      padding-block:1.5rem;
      line-height: 2rem;
    }
    button{
      color:$primary-color;
      border:2px solid $primary-color;
    } 
  }